@font-face {
    font-family: 'libreBaskerville';
    src: url('LibreBaskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
    font-family: 'libreBaskerville-bold';
    src: url('LibreBaskerville/LibreBaskerville-Bold.ttf');
}

@font-face {
    font-family: 'libreBaskerville-italic';
    src: url('LibreBaskerville/LibreBaskerville-Italic.ttf');
}

@font-face {
    font-family: 'dmSanz';
    src: url('DM_Sans/DMSans-VariableFont_opsz\,wght.ttf');
}

/*Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    font: inherit;
    outline: none;
    border: none;
}

body {
    font-size: 100%;
    line-height: 1;
    color: white;
    min-width: 370px;
    min-height: 380px;
}

/* --------------------------------------------- */
body {
    background: rgba(0, 0, 0, 1);
}

.circulos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(80px);
    animation: circulo 50s linear infinite both;
}

.circulos .circulo {
    position: absolute;
    width: 50%;
    height: 60%;
    animation: circulo 50s linear infinite both;
}

.circulos .circulo1 {
    top: 0%;
    left: 0%;
}

.circulos .circulo1 .path {
    fill: rgb(187, 199, 27);
}

.circulos .circulo2 {
    top: 0%;
    right: 10%;
}

.circulos .circulo2 .path {
    fill: rgb(3, 32, 119);
}

.circulos .circulo3 {
    bottom: 0%;
    left: 0%;
}

.circulos .circulo3 .path {
    fill: rgb(88, 2, 138);
}

.circulos .circulo4 {
    bottom: 0%;
    right: 0%;
}

.circulos .circulo4 .path {
    fill: rgb(18, 19, 18);
}

.main {
    margin: 0 0 1em;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Inicio */
.section {
    width: 100%;
    min-height: 80vh;
    margin: 1em 0;
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.section .info {
    font-size: 1.2em;
    animation: aparecer 2s ease 1 both;
}

.section .ul {
    margin: 3em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.section .ul .li {
    margin: 0 1em;
}

.section .ul .a {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 50%;

    padding: 1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s ease;
    animation: aparecer 2s ease 1 backwards .5s;

}

.section .ul .a:hover {
    border: 1px solid rgb(255, 255, 255);
}

.section .ul .a:nth-of-type(2) {
    animation-delay: .8s;
}

.section .h2 {
    font-family: "libreBaskerville";
    font-weight: 600;
    font-size: 5em;

    margin: 0.1em 0;
}

.section .h3 {
    font-family: "libreBaskerville-italic";
    font-size: 3.5em;
}

/* Trabajos */
.works {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2em 1em white;
    margin: 0 0 3em;
}

.section .grid {
    width: 90%;
    max-width: 40em;
    margin: 1em 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1em;
}


.section .article {
    width: 100%;
    min-height: 20vh;
    background: lightgray;
    border-radius: 1em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.section .figure {
    width: 100%;
}

.section .img {
    width: 100%;
}

.section .h4 {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1rem);

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.9em;
    font-family: "libreBaskerville-italic";
    opacity: 0;
    transform: translateZ(1.2emem) scale(1.2);
    transition: all .5s ease;
}

.section .article:hover .h4 {
    opacity: 1;
    transform: translateZ(2em) scale(1);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50em;
    max-height: 90vh;
    height: 30em;
    transform: translate(-50%, -50%);
    animation: aparecerModal .7s ease;
    overflow-y: auto;


    color: black;

    background: rgb(185, 185, 185);
    border-radius: 1em;
}

.modalX {
    cursor: pointer;
    width: 6vh;
    height: 6vh;
    position: relative;
    justify-content: center;

    margin: 1em 1em 0;
}

.figureModal {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.imgModal {
    width: 50vh;
    height: 50vh;
    position: relative;
}
.descripcion {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.divEnlaces {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.url {
    width: 20em;
    margin: 0 2em 1em;
    border: 1px solid rgb(148, 147, 147);
    border-radius: 2.3em;
    text-transform: uppercase;
    transition: all .2s ease;

}

.url:hover{
    border: 1px solid rgb(0, 0, 0);

}

/* Contacto */

.about .h2 {
    margin: 0 0 2rem;
}

.about .p {
    font-family: "dmSanz";
    max-width: 40em;
    margin: 0 0 2em;
    font-size: 1.5em;
    text-align: left;
}

.about .rrss {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.about .li {
    margin: 0 1em;
}

.about .svg {
    width: 3.5em;
    height: 3.5em;
}

.footer {
    text-align: center;
    padding: 1em 0 0;
    position: relative;
    
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.footer .img {
    width: 4em;
    height: 4em;
}

@media (max-width:2000px) {
    .modal {
        width: 40em;
        height: 30em;
    }

    .modalX {
        width: 6vh;
        height: 6vh;
    }

    .imgModal {
        width: 30vh;
        height: 30vh;
    }

    .divEnlaces {
        font-size: 1em;
    }

    .url {
        width: 15em;
    }

}

@media (max-width:800px) {
    .section .h2 {
        font-size: 4.5em;
    }

    .section .h3 {
        font-size: 3.2em;
    }

    .modal {
        width: 40em;
        height: 30em;
    }

    .modalX {
        width: 5vh;
        height: 5vh;
        margin: .7em .7em 0;

    }

    .imgModal {
        width: 30vh;
        height: 30vh;
    }

    .descripcion{
        font-size: .9em;
    }
    .divEnlaces {
        font-size: .9em;
    }

    .url {
        width: 15em;
    }

}

@media (max-width:735px) {
    .section .h2 {
        font-size: 4em;
    }

    .section .h3 {
        font-size: 3em;
    }
}

@media (max-width:700px) {
    .section .h2 {
        font-size: 3.5em;
    }

    .section .h3 {
        font-size: 2.7em;
    }

    .about .p {
        font-size: 1em;
    }

    .section .ul .li {
        margin: 1.5em 1em;
    }

    .modal {
        width: 35em;
        height: 30em;
    }

    .modalX {
        width: 3vh;
        height: 3vh;
        margin: .5em .5em 0;

    }

    .imgModal {
        width: 20vh;
        height: 20vh;
    }

    .divEnlaces {
        font-size: .7em;
    }

    .url {
        width: 15em;
    }
}

@media (max-width:604px) {
    .section .h2 {
        font-size: 3em;
    }

    .section .h3 {
        font-size: 2.4em;
    }

    .modal {
        width: 30em;
        height: 30em;
    }
}

@media (max-width:537px) {
    .section .h2 {
        font-size: 2.5em;
        margin: 0 0 .4em;
    }

    .section .h3 {
        font-size: 1.5em;
    }

    .about .p {
        font-size: .7em;
    }

    .section .li {
        font-size: .7em;
    }

    .modal {
        width: 25em;
        height: 25em;
    }

    .modalX {
        width: 3vh;
        height: 3vh;
        margin: .4em .4em 0;

    }

    .imgModal {
        width: 20vh;
        height: 20vh;
    }

    .divEnlaces {
        font-size: .7em;
    }

    .url {
        width: 15em;
    }
}

@media (max-width:472px) {
    .section .h2 {
        font-size: 2em;
    }

    .section .h3 {
        font-size: 1.3em;
    }

    .section .li {
        font-size: .6em;
    }

    
}

@media (max-width:406px) {
    .section .h2 {
        font-size: 1.7em;
    }

    .section .h3 {
        font-size: 1em;
    }

    .section .li {
        font-size: .5em;
    }

    .modal {
        width: 22em;
        height: 25em;
    }

    .modalX {
        width: 1.5em;
        height: 1.5em;
        margin: .2em .2em 0;
    }

    .imgModal {
        width: 17vh;
        height: 17vh;
    }

    .divEnlaces {
        font-size: .7em;
    }

    .url {
        width: 15em;
    }
   
    .footer .img {
        width: 3.2em;
        height: 3.2em;
    }
}

@media (max-height:300px) {
    
    .imgModal {
        width: 22vh;
        height: 22vh;
    }
.descripcion{
    font-size: .7em;
}
    .divEnlaces {
        font-size: .7em;
        margin: 1em 0;
    }

    
}




@keyframes circulo {
    from {
        transform: rotate(0deg) scale(2);
    }

    to {
        transform: rotate(360deg) scale(2);
    }

}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }

}

@keyframes aparecerModal {
    from {
        opacity: 0;      
    }
    to {
        opacity: 1;      
    }
}
